* {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--body);
}
:root {
  --text: hsl(200, 15%, 8%);
  --elements: white;
  --shadow: #e9e7e7;
  --body: hsl(0, 0%, 98%);
}
// Class To cahnge variable values at dark mode
.dark-mode {
  --body: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 100%);
  --shadow: #343a40;
}

// Start Nav
nav {
  & {
    box-shadow: 1px 1px 1px var(--shadow);
    background-color: var(--elements);
  }
  .nav-container {
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p {
      font-weight: 800;
      font-size: 1.4rem;
      margin: 0;
      color: var(--text);
    }
    @media (max-width: 767px) {
      p {
        font-size: 1.1rem;
      }
    }
    a {
      & {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--text);
        height: 80px;
      }
      i {
        margin-right: 5px;
        font-size: 1.3rem;
        color: var(--text);
      }
      @media (max-width: 767px) {
        & {
          font-size: 0.9rem;
        }
        i {
          font-size: 1rem;
        }
      }
    }
  }
}
// End nav

// Start Search
.search {
  .search-container {
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
    }
    @media (max-width: 767px) {
      & {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    }
    div:first-of-type {
      & {
        width: 500px;
        max-width: 100%;
        display: flex;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
        background-color: var(--elements);
        box-shadow: 1px 1px 1px var(--shadow), -1px -1px 1px var(--shadow);
      }
      [type='text'] {
        & {
          flex: 1;
          border: none;
          padding: 10px 8px;
          font-size: 1.1rem;
          background-color: inherit;
          color: var(--text);
        }
        &:focus {
          outline: none;
        }
      }
      span {
        & {
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        i {
          color: #ccc;
        }
      }
    }
    .drop {
      & {
        background-color: var(--elements);
        box-shadow: 1px 1px 1px var(--shadow), -1px -1px 1px var(--shadow);
        border-radius: 5px;
      }
      button {
        font-weight: 600;
        padding: 10px 15px;
        border: none;
        color: var(--text);
      }
      .menu {
        & {
          background-color: var(--elements);
        }
        li {
          a {
            display: block;
            padding: 4px 16px;
            text-decoration: none;
            color: var(--text);
          }
        }
      }
    }
  }
}
// End Search

// Start countries
.countries {
  .countries-container {
    .countries-row {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 30px;
    }
    .box {
      & {
        border-radius: 10px;
        box-shadow: 1px 1px 1px var(--shadow), -1px -1px 1px var(--shadow);
        overflow: hidden;
        background-color: var(--elements);
        color: var(--text);
        padding: 0px;
        display: block;
        text-decoration: none;
        cursor: pointer;
      }
      img {
        width: 100%;
        height: 200px;
      }
      .content {
        & {
          padding: 20px;
        }
        h4 {
          font-size: 1.2rem;
          font-weight: 800;
        }
        span {
          font-weight: 600;
        }
      }
    }
  }
}
// End countries

// Start Country
.country {
  button {
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--elements);
    color: var(--text);
    box-shadow: 1px 1px 1px var(--shadow), -1px -1px 1px var(--shadow);
  }
  .country-container {
    & {
      display: flex;
      align-items: flex-start;
      gap: 50px;
    }
    @media (max-width: 767px) {
      & {
        flex-direction: column;
      }
    }
    .image {
      & {
        flex: 1;
      }
      img {
        display: block;
        width: 100%;
      }
      @media (max-width: 767px) {
        & {
          margin: auto;
        }
      }
    }
    .content {
      & {
        width: 60%;
      }
      @media (max-width: 767px) {
        & {
          width: 100%;
        }
      }
      > p {
        font-size: 1.4rem;
        font-weight: 800;
        color: var(--text);
      }
      .info {
        & {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }
        @media (max-width: 767px) {
          & {
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;
          }
        }
        p {
          & {
            font-weight: 600;
            color: var(--text);
            font-size: 1.1rem;
          }
          span {
            color: var(--text);
            font-weight: normal;
          }
        }
      }
      .bord-countries {
        & {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          row-gap: 15px;
        }
        p {
          font-weight: 600;
          color: var(--text);
          margin: 0px;
          font-size: 1.1rem;
        }
        div {
          margin-left: 20px;
          display: flex;
          flex-wrap: wrap;
          gap: 10px 20px;
        }
        span {
          padding: 5px 15px;
          box-shadow: 1px 1px 1px var(--shadow), -1px -1px 1px var(--shadow);
          background-color: var(--elements);
          color: var(--text);
        }
      }
    }
  }
}
// End Country
