@use './SCSS/variables' as *;
@use './SCSS/component' as *;

* {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: $light-mode-background;
}

// Start Nav
nav {
  & {
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
  }
  .nav-container {
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p {
      font-weight: 800;
      font-size: 1.4rem;
      margin: 0;
    }
    @media (max-width: 767px) {
      p {
        font-size: 1.1rem;
      }
    }
    a {
      & {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        color: black;
        padding-top: 25px;
        padding-bottom: 25px;
      }
      i {
        margin-right: 5px;
        font-size: 1.3rem;
      }
      @media (max-width: 767px) {
        & {
          font-size: 0.9rem;
        }
        i {
          font-size: 1rem;
        }
      }
    }
  }
}
// End nav

// Start Search
.search {
  .search-container {
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
    }
    @media (max-width: 767px) {
      & {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    }
    div:first-of-type {
      & {
        width: 500px;
        max-width: 100%;
        display: flex;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
        background-color: white;
        box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;
      }
      [type='text'] {
        & {
          flex: 1;
          border: none;
          padding: 10px 8px;
          font-size: 1.1rem;
        }
        &:focus {
          outline: none;
        }
      }
      span {
        & {
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        i {
          color: #ccc;
        }
      }
    }
    button {
      background-color: white;
      box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;
      border: none;
    }
  }
}
// End Search
